.header {
    text-align: center;
    margin-bottom: 5rem;
}

.header :not(:last-child) {
    margin-right: 2rem;
}

.center-container {
    text-align: center;
}

.center-container__link-item :not(:last-child) {
    margin-right: 2rem;
}

.me-photo {
    width: 20%;
    margin: 8rem 0 2rem 0;
    border-radius: 10rem;
}